<div class="card">
<div class="card-body">

<%= form_with(model: purchase_order) do |form| %>
  <% if purchase_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
        <% purchase_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="col-md-auto">
      <div class="row">
        <div class="form-group col">
          <%= form.label :first_name %>
          <%= form.text_field :lname, value: User.find(session[:user_id]).fname, class: 'form-control' %>
        </div>

      <div>
        <div class="form-group col">
          <%= form.label :last_name %>
          <%= form.text_field :fname, value: User.find(session[:user_id]).lname, class: 'form-control' %>
        </div>
      </div>

      <div>
        <%# <%= form.label :status %>
        <%= form.hidden_field :status, value: "PROCESSING", class: 'form-control' %>
      </div>

      <div class="row">
        <div class="form-group col">
          <%= form.label :address_id %>
          <%= collection_select( :purchase_order, :address_id, Address.order(:id), :id, :street, { selected: session[:address_id]}, class: 'form-control') %>
        </div>
      </div>

      <div class="field">
        <%= form.label :credit_card_number %>
        <%= form.text_field :credit_card_number, class: 'form-control' %>
      </div>

      <div>
        <%= form.submit "Submit order", class: "btn btn-primary" %>
      </div>
  </div>
<% end %>

</div>
</div>
