<div id="<%= dom_id purchase_order %>">
  <p>
    <strong>Last name:</strong>
    <%= purchase_order.lname %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= purchase_order.fname %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= purchase_order.status %>
  </p>

  <p>
    <strong>Address Id:</strong>
    <%= purchase_order.address_id %>
  </p>
</div>
