<div id="<%= dom_id visit_event %>">
  <p>
    <strong>IP Address:</strong>
    <%= visit_event.ipaddress %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= visit_event.day %>
  </p>

  <p>
    <strong>Bid:</strong>
    <%= visit_event.bid %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= visit_event.eventtype %>
  </p>
</div>
