
<div class="container">
  <%= render "layouts/navbar" %>

  <p style="color: green"><%= notice %></p>

  <h1>Visit events</h1>

  <div id="visit_events">
    <% @visit_events.each do |visit_event| %>
      <%= render visit_event %>
      <p>
        <%= link_to "Show this visit event", visit_event %>
      </p>
    <% end %>
  </div>

  <%= link_to "New visit event", new_visit_event_path %>

</div>
