<%= render "layouts/navbar" %>
<div class="container">

  <p style="color: green"><%= notice %></p>

  <%= render @visit_event %>

  <div>
    <%= link_to "Edit this visit event", edit_visit_event_path(@visit_event) %> |
    <%= link_to "Back to visit events", visit_events_path %>

    <%= button_to "Destroy this visit event", @visit_event, method: :delete %>
  </div>
  </div>
  