<%= form_with(model: product_order) do |form| %>
  <% if product_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product_order.errors.count, "error") %> prohibited this product_order from being saved:</h2>

      <ul>
        <% product_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :bid %>
    <%= form.text_field :bid %>
  </div>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :colour %>
    <%= form.text_field :colour %>
  </div>

  <div>
    <%= form.label :size %>
    <%= form.number_field :size %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
