<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Product Orders</h1>

  <div id="product_order">
    <% @product_order.each do |product_order| %>
      <%# <h5><%= product_order.name %>
      <%# </h5> %> 
      <p><%= product_order.bid %></p>
      <p>
        <%= link_to "Show this product_order", product_order %>
      </p>
    <% end %>
  </div>

  <%= link_to "New product order", new_product_order_path %>

<div>
