<p style="color: green"><%= notice %></p>

<div class="container">
  <%= render @product_order %>

  <div>
    <%# <h1><%= @product_order.name %>
    <%# </h1> %> 
    <p><%= @product_order.bid %></p>
    <%# <p><%= @product_order.name</p> %>
    <%# <p><%= @product_order.description</p>  %>

  </div>

  <div>
    <%= link_to "Edit this product_order", edit_product_order_path(@product_order) %> |
    <%= link_to "Back to product orders", product_orders_path %>

    <%= button_to "Destroy this product order", @product_order, method: :delete %>
  </div>

</div>
