<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.fname %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.lname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address_id %>
  </p>

</div>
