<%= render "layouts/navbar" %>
<div class="container">
  
  <p style="color: green"><%= notice %></p>

  <%= render @user %>

  <div>
    <% if session[:admin] %>
      <%= link_to "Edit this user", edit_user_path(@user) %> | 
        <%= link_to "Back to users", users_path %>

        <%= button_to "Destroy this user", @user, method: :delete %>
    <%else%>
      <%=link_to "Login", login_path, class:"btn btn-primary"%>
    <%end%>
    
</div>
</div>
