<%= form_with(model: po_item) do |form| %>
  <% if po_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(po_item.errors.count, "error") %> prohibited this po_item from being saved:</h2>

      <ul>
        <% po_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :item_id %>
    <%= collection_select( :po_item, :item_id, Item.order(:id), :id, :name) %>
  </div>

  <div>
    <%= form.label :bid %>
    <%= form.text_field :bid %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :purchase_order_id %>
    <%= collection_select( :po_item, :purchase_order_id, PurchaseOrder.order(:id), :id, :lname) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
