<div id="<%= dom_id po_item %>">
  <p>
    <strong>Bid:</strong>
    <%= po_item.bid %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= po_item.price %>
  </p>

  <p>
    <strong>PO Id:</strong>
    <%= po_item.purchase_order_id %>
  </p>

  <p>
    <strong>Item Id:</strong>
    <%= po_item.item_id %>
  </p>
</div>
