<div class="container">
  <%= render "layouts/navbar" %>

  <p style="color: green"><%= notice %></p>

  <h1>Po items</h1>

  <div id="po_items">
    <% @po_items.each do |po_item| %>
      <%= render po_item %>
        <p>
        <%= link_to "Show this po item", po_item %>
      </p>
    <% end %>
  </div>

  <%= link_to "New po item", new_po_item_path %>
</div>
