<div id="<%= dom_id address %>">
  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= address.province %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= address.zip %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= address.phone %>
  </p>

</div>
