<div id="<%= dom_id item %>">
  <p>
    <strong>Bid:</strong>
    <%= item.bid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= item.brand %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= item.colour %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= item.size %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= item.weight %>
  </p>
</div>
