<div class="container">

  <p style="color: green"><%= notice %></p>

  <h1>Shop Glasses</h1>

  <%# <div id="items"> %>
    <%# <% @items.each do |item| %> 
      <%# <h5><%= item.name </h5> %>
      <%# <p><%= item.bid </p> %>
      <%# <p> %>
        <%# <%= link_to "Show this item", item %> 
      <%# </p> %>
    <%# <% end %> 
  <%# </div> %>

  <%= link_to "New item", new_item_path %>

  <%# <h3>React component example</h3> %>
  <%# <%= react_component("HelloWorld", { name: "Items Page" }) %>

  <%# <h3>Items</h3> %>

  <%= react_component("ItemsList", { items: @items.as_json(only: [:id, :bid, :name, :description, :category, :brand, :quantity, :price, :colour, :size, :weight]), csrfToken: form_authenticity_token, purchaseOrderId: 1 }) %>
  <%# <%= react_component("ItemsList", { items: @items.as_json(only: [:id, :bid, :name, :description, :category, :brand, :quantity, :price, :colour, :size, :weight]) }) %> 

<div>
