<div class="container">
  <%= render "layouts/navbar" %>

  <p style="color: green"><%= notice %></p>
  
  <%= render @item %>

  <p>-------------------------------</p>

  <% if @item.reviews.any? %>
    <%= render @item.reviews %>
  <% end %>

  <%= render partial: "reviews/form", locals: { review: @review } %>

  <div>
    <%= link_to "Edit this item", edit_item_path(@item) %> |
    <%= link_to "Back to items", items_path %>

    <%= button_to "Destroy this item", @item, method: :delete %>
  </div>

</div>
