<div class="container">
  <%= render "layouts/navbar" %>

  <p style="color: green"><%= notice %></p>
  
  <%= render @item %>

  <div>
    <h1><%= @item.name %></h1>
    <p><%= @item.bid %></p>
    <p><%= @item.name %></p>
    <p><%= @item.description %></p>
    <p><%= @item.category %></p>
    <p><%= @item.brand %></p>
    <p><%= @item.quantity %></p>
    <p>$ <%= @item.price %></p>
    <p><%= @item.colour %></p>
    <p><%= @item.size %></p>
    <p><%= @item.weight %> g</p>

  </div>

  <div>
    <%= link_to "Edit this item", edit_item_path(@item) %> |
    <%= link_to "Back to items", items_path %>

    <%= button_to "Destroy this item", @item, method: :delete %>
  </div>

</div>
