
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><%= link_to 'Glasses', root_path, class: 'navbar-brand' %></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
            <%# <li class="nav-item">
                <%= link_to 'Items', root_path, class: "nav-link #{'active' if current_page?(root_path)}" 
            </li> %>
            <li class="nav-item">
                <%= link_to 'POItems', po_items_path, class: "nav-link #{'active' if current_page?(po_items_path)}" %>
            </li>
            <li class="nav-item">
                <%= link_to 'PurchaseOrders', purchase_orders_path, class: "nav-link #{'active' if current_page?(purchase_orders_path)}" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Reviews', reviews_path, class: "nav-link #{'active' if current_page?(reviews_path)}" %>
            </li>

            <li class="nav-item">
                    <%= link_to 'VisitEvents', visit_events_path, class: "nav-link #{'active' if current_page?(visit_events_path)}" %>
            </li>
            <%# <li class="nav-item">
                <%= link_to 'Users', users_path, class: "nav-link #{'active' if current_page?(users_path)}" 
            </li> %>

            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link #{'active' if current_page?(edit_user_registration_path)}" %>
                </li>
            <%else%>
                <li class="nav-item">
                    <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link #{'active' if current_page?(new_user_registration_path)}" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Sign In', new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %>
                </li>
            <%end%>
           
           
           
        </ul>
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<br>
