
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><%= link_to 'Glasses', root_path, class: 'navbar-brand' %></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <%= link_to 'Catalog', root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Reviews', reviews_path, class: "nav-link #{'active' if current_page?(reviews_path)}" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Cart', po_items_path, class: "nav-link #{'active' if current_page?(po_items_path)}" %>
            </li>

            <% if session[:admin] %>
              <li class="nav-item">
                  <%= link_to 'Users', users_path, class: "nav-link #{'active' if current_page?(users_path)}" %>
              </li>
              <li class="nav-item">
                  <%= link_to 'PurchaseOrders', purchase_orders_path, class: "nav-link #{'active' if current_page?(purchase_orders_path)}" %>
              </li>

              <li class="nav-item">
                  <%= link_to 'Metrics', visit_events_path, class: "nav-link #{'active' if current_page?(visit_events_path)}" %>
              </li>
            <% end %>

            <li class="nav-item">
                <% if session[:user_id].present? %>
                  <%= button_to 'Logout', logout_path, method: :delete, class: "btn btn-danger" %>
                <% else %>
                  <%= link_to 'Login', login_path, class: "btn btn-primary" %>
                <% end %>
            </li>
           
        </ul>
    </div>

    <%# <form class="d-flex" role="search"> %>
      <%# <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> %>
      <%# <button class="btn btn-outline-success" type="submit">Search</button> %>
    <%# </form> %>


  </div>
</nav>

<br>
