<!DOCTYPE html>
<html>
  <head>
    <title>EECS4413Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload", defer: true %>
     <script
      src="https://kit.fontawesome.com/9cb162c1e3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    
    <%= render "layouts/navbar" %>
    <%# <p class="notice"><%= notice </p> %>
    <%# <p class="alert"><%= alert </p> %>

    <%= yield %>

      <%= link_to(chatbot_show_path, class: "btn btn-primary btn-circle btn-xl #{'active' if current_page?(chatbot_show_path)}", id:"chatbot-button") do %>
        <i class="fa-solid fa-robot"></i>
      <%end%>
     
  </body>
</html>
